.card {
	width: 25%;
	padding: 15px;
	min-height: 465px;
	border: 1px solid rgba(255, 127, 80, 0.219);
	border-radius: 5%;
	position: relative;
}

.details h4 {
	cursor: pointer;
}

.thumbnail {
	width: 100%;
	cursor: pointer;
}

.cardImage {
	width: 100%;
}

.channelName {
	font-size: 15px;
	font-style: italic;
	color: grey;
	text-align: right;
	padding: 10px;
}

.statistics {
	display: flex;
	flex-wrap: wrap;
	color: grey;
	position: absolute;
	bottom: 0;
	/* margin-top: 10px; */
}
.statistics span {
	font-size: 15px;
	width: 50%;
	padding: 10px 10px 10px 0px;
}
@media (min-width: 320px) and (max-width: 480px) {
	.card {
		width: 100%;
	}
}
