.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	bottom: 0%;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s;
}
.open {
	display: block;
}

/* Modal Content */
.modalContent {
	position: fixed;
	bottom: 0;
	background-color: #fefefe;
	width: 100%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 32px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: deepskyblue;
	text-decoration: none;
	cursor: pointer;
}

.modalHeader {
	padding: 2px 16px;
	color: white;
	display: flex;
	position: fixed;
	top: 12px;
	width: 98%;
	justify-content: space-between;
}

.modalBody {
	/* padding: 2px 16px; */
	width: 100%;
	height: 100%;
	align-items: center;
	background: #1a1c22;
	display: flex;
}
.modalBody p {
	font-size: 18px;
	max-width: 50%;
	padding: 10px;
}
.noLyrics {
	width: 50%;
	text-align: center;
}

.modalFooter {
	padding: 2px 16px;
	background-color: #1a1c22;
	color: white;
}

/* Add Animation */

@keyframes slideIn {
	from {
		bottom: -300px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
