* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #1a1c22;
	color: white;
	font-family: "Ubuntu", sans-serif;
	font-size: 25px;
}
.title {
	margin: 30px 0px;
}
ul {
	width: 90%;
	border-radius: 10%;
	margin: 0 auto;
}
li {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	background: #25262c;
	border-radius: 10% 5% 5% 10%;
	position: relative;
}
img {
	width: 100px;
	border-radius: 10%;
}
h3 {
	margin-left: 15px;
	max-width: 80%;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.input-group {
	margin: 0px 20px;
	display: flex;
	align-items: center;
}
label {
	margin-right: 10px;
}
input {
	background: #1a1c22;
	border: none;
	height: 25px;
	border-bottom: 1px solid white;
	color: white;
	font-size: 14px;
	padding: 5px;
	text-align: center;
}
input.title {
	width: 310px;
}

input:focus {
	outline: none;
}

button {
	background: #1a1c21;
	color: white;
	padding: 5px 25px;
	border-color: #1a1c21;
	border-radius: 5%;
	font-size: 20px;
	cursor: pointer;
}
button:hover {
	box-shadow: 0 0 5px #000000, 0 0 25px #000000, 0 0 50px #000000,
		0 0 100px #848484;
}

i.fas.fa-play-circle {
	position: absolute;
	right: 20px;
	font-size: 40px;
	cursor: pointer;
}

i:hover {
	color: deepskyblue;
}

.resultNotFound {
	text-align: center;
	margin-top: 10%;
}

.cardContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.clickable {
	cursor: pointer;
}

/* MenuBar */
.menubar {
	display: flex;
}
.menubar ul {
	display: flex;
	justify-content: flex-end;
	width: 70%;
}
.menubar li {
	justify-content: center;
	margin: 25px 2px;
	height: 0px;
	min-height: 50px;
}
.menubar a {
	text-decoration: none;
	color: white;
	padding: 20px;
}
.menubar a:hover {
	color: deepskyblue;
}
.menubar .title {
	margin-left: 3%;
}
/* menubar end */

/* Video start */
.video {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
.video p {
	font-size: 18px;
	max-width: 50%;
	padding: 0px 17px;
	max-height: 100%;
	overflow-y: scroll;
	box-sizing: content-box;
}

/* Video End */

/* Login Start */

.form-container {
	width: 35%;
	margin: 0 auto;
}
.form-container h1 {
	margin-bottom: 25px;
}
.login-form,
.register-form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.form-group {
	display: flex;
	align-items: center;
	width: 100%;
	padding-bottom: 15px;
}
.login-form label,
.register-form label {
	min-width: 125px;
	display: inline-block;
}
.login-form input,
.register-form input {
	flex-basis: 100%;
	padding: 20px;
}

/* Login End */

.logout-btn {
	border: none;
	background: #25262c;
}
.logout-btn:hover {
	box-shadow: none;
	color: deepskyblue;
}
.logout-btn:focus {
	outline: none;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.title {
		margin: 20px 0px;
	}

	form {
		flex-direction: column;
	}
	form {
		align-items: flex-start;
	}
	label {
		font-size: 18px;
		min-width: 23%;
	}
	.input-group {
		width: 93%;
	}
	input {
		width: 60%;
	}
	input.title {
		width: 60%;
	}
	h3 {
		font-size: 20px;
		padding: 15px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	li {
		min-height: 300px;
		flex-direction: column;
		justify-content: space-evenly;
		width: 46%;
		margin: 2%;
	}
	li img {
		width: 100%;
	}
	li i.fas {
		display: none;
	}
}

/* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
	.title {
		margin: 20px 0px;
	}
	.cardContainer,
	form {
		flex-direction: column;
	}
	form {
		align-items: flex-start;
	}
	label {
		font-size: 18px;
		min-width: 23%;
	}
	.input-group {
		width: 93%;
	}
	input {
		width: 60%;
	}
	input.title {
		width: 60%;
	}
	h3 {
		font-size: 22px;
		padding: 15px;
	}
	li {
		min-height: 300px;
		flex-direction: column;
		justify-content: space-evenly;
	}
	li img {
		width: 100%;
	}
	li i.fas {
		display: none;
	}
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
	.title {
		margin: 20px 0px;
	}
	.cardContainer,
	form {
		flex-direction: column;
	}
	form {
		align-items: flex-start;
	}
	label {
		font-size: 18px;
		min-width: 23%;
	}
	.input-group {
		width: 93%;
	}
	input {
		width: 60%;
	}
	input.title {
		width: 60%;
	}
	h3 {
		font-size: 20px;
		padding: 15px;
	}
	li {
		min-height: 300px;
		flex-direction: column;
		justify-content: space-evenly;
	}
	li img {
		width: 100%;
	}
	li i.fas {
		display: none;
	}
}
