* {
	margin: 0;
	padding: 0;
}
body {
	background: #1a1c22;
	color: white;
	font-family: "Ubuntu", sans-serif;
	font-size: 25px;
}
.title {
	text-align: center;
	margin: 30px 0px;
}
ul {
	width: 90%;
	border-radius: 10%;
	margin: 0 auto;
}
li {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	background: #25262c;
	min-height: 75px;
	border-radius: 10% 5% 5% 10%;
	position: relative;
}
img {
	width: 100px;
	border-radius: 10%;
}
h3 {
	margin-left: 15px;
	max-width: 80%;
}

form {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.input-group {
	margin: 0px 20px;
}
label {
	margin-right: 10px;
}
input {
	background: #1a1c22;
	border: none;
	height: 25px;
	border-bottom: 1px solid white;
	color: white;
	font-size: 20px;
	padding: 5px;
}
input:focus {
	outline: none;
}

button {
	background: #1a1c21;
	color: white;
	padding: 5px 25px;
	border-color: #1a1c21;
	border-radius: 5%;
	font-size: 20px;
	cursor: pointer;
}

i {
	position: absolute;
	right: 20px;
	font-size: 40px;
	cursor: pointer;
}

i:hover {
	color: deepskyblue;
}
